div.appview-container.css-1wrcr25.e1g8pov66 {
    /*background-color: rgba(23,24,34,0);*/
    /*background: rgb(226,0,116);
    background: radial-gradient(circle, rgba(226,0,116,1) 0%, rgba(69,21,121,1) 100%);*/
    /*background: rgb(226,0,116);
    background: linear-gradient(90deg, rgba(226,0,116,1) 0%, rgba(39,14,88,1) 15%, rgba(69,21,121,1) 50%, rgba(39,14,88,1) 75%, rgba(226,0,116,1) 100%);*/
    background: rgb(226,0,116);
    background: linear-gradient(90deg, rgba(226,0,116,1) 0%, rgba(39,14,88,1) 5%, rgba(241,239,244,1) 20%, rgba(255,255,255,1) 50%, rgba(241,239,244,1) 85%, rgba(39,14,88,1) 95%, rgba(226,0,116,1) 100%);
  }

header.css-18ni7ap.e13qjvis2{
  background: rgba(0,0,0,0);
}
/*letra en general*/
.css-16idsys.eqr7zpz4{
  color: #270e58;
}
/*Titulo*/
#autodtp-generator{
  color: #270e58;
}

/*expanders background*/
.css-1fcdlhc.e1mp27150{
  background-color: #e20074;
  border-radius: 10px;
}
/*letra en general*/
.css-5rimss.eqr7zpz4{
  color: #270e58;
}

